<section class="colophon inner">
    <div class="author">
        <img class="photo" src="{{ site.url }}/assets/images/avatar.jpg" alt="Víctor Fernández">

        <p>Víctor Fernández is a designer and web developer from Venezuela, currently working for R/GA Buenos Aires. This is his personal website. <a href="">Learn more</a>.</p>
    </div>

    <div class="find-me no-label">
        <h4 class="label">Find me elsewhere</h4>

        <ul>
            <li>
                <a class="has-icon" title="twitter" href="">
                    <span class="label">Twitter</span>
                    <span class="icon icon-twitter"></span>
                </a>
            </li>
            <li>
                <a class="has-icon" title="github" href="">
                    <span class="label">Github</span>
                    <span class="icon icon-github"></span>
                </a>
            </li>
            <li>
                <a class="has-icon" title="dribbble" href="">
                    <span class="label">Dribbble</span>
                    <span class="icon icon-dribbble"></span>
                </a>
            </li>
        </ul>
    </div>
</section>