            <section class="colophon inner">
                <div class="author">
                    <img class="photo" src="{{ site.url }}/assets/images/avatar.jpg" alt="Víctor Fernández">
                    <p>{{ site.description }} <a href="">Learn more</a>.</p>
                </div>

                <div class="find-me no-label">
                    <h4 class="label">Find me elsewhere</h4>

                    <ul>
                        {% for network in site.social %}
                        <li>
                            <a title="{{ network.name | capitalize }}" href="{{ network.url }}">
                                <span class="label">{{ network.name | capitalize }}</span>
                                <span class="icon icon-{{ network.name | downcase }}"></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>