<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %} {{ page.title }} &#8212; {% endif %} {{ site.name }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/main.medium.css" media="screen and (min-width: 48em)">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/main.large.css" media="screen and (min-width: 75em)">

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

        <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div class="all {% if page.layout == 'post' || 'page' %}individual{% endif %}">
            <section class="head">
                <a href="{{ site.url }}" class="cover"></a>

                <div class="hgroup">
                    {% include menu.html %}
                    
                    {% if page.layout != 'post' %}
                    <h1>
                        <a class="logo has-icon" href="{{ site.url }}/">
                            <span class="label inner">{{ site.name }}</span>
                        </a>
                    </h1>
                    {% endif %}

                </div>
            </section>