                    <nav class="menu">
                        <ul class="inner">
                            {% for link in site.navigation %}
                                {% assign current = nil %}
                                {% if page.title == link.text %}
                                    {% assign current = 'current' %}
                                {% endif %}
                                {% if link.text == 'Writing' and paginator or page.layout == 'post' %}
                                    {% assign current = 'current' %}
                                {% endif %}

                                <li class="item {{ current }}">
                                    <a href="{{ site.url }}{{ link.url }}">{{ link.text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>

                    <a class="toggle-menu has-icon no-label" title="Toggle menu" href="">
                        <span class="icon icon-menu"></span>
                        <span class="label">Menu</span>
                    </a>

                    <a class="go-back has-icon no-label" title="Go back" href="{{ site.url }}">
                        <span class="icon icon-arrowleft"></span>
                        <span class="label">Go back</span>
                    </a>