<nav class="menu">
    <ul class="inner">
        <li class="item {% if page.url == site.url %}current{% endif %}"><a href="{{ site.url }}/writing">Writing</a></li>
        <li class="item {% if page.title == 'Pictures' %}current{% endif %}"><a href="{{ site.pictures }}/pictures">Pictures</a></li>
        <li class="item {% if page.title == 'Projects' %}current{% endif %}"><a href="{{ site.projects }}/projects">Projects</a></li>
        <li class="item {% if page.title == 'Colophon' %}current{% endif %}"><a href="{{ site.colophon }}/colophon">Colophon</a></li>
    </ul>
</nav>

<a class="toggle-menu has-icon no-label" title="Toggle menu" href="">
    <span class="icon icon-menu"></span>
    <span class="label">Menu</span>
</a>

<a class="go-back has-icon no-label" title="Go back" href="{{ site.url }}">
    <span class="icon icon-arrowleft"></span>
    <span class="label">Go back</span>
</a>