<nav class="menu">
    <ul class="inner">
        <li class="item current"><a href="">Writing</a></li>
        <li class="item"><a href="">Pictures</a></li>
        <li class="item"><a href="">Projects</a></li>
        <li class="item"><a href="">Colophon</a></li>
    </ul>
</nav>

<a class="toggle-menu has-icon no-label" title="Toggle menu" href="">
    <span class="icon icon-menu"></span>
    <span class="label">Menu</span>
</a>

<a class="go-back has-icon no-label" title="Go back" href="{{ site.url }}">
    <span class="icon icon-arrowleft"></span>
    <span class="label">Go back</span>
</a>