@import url("../fonts/vctrfrnndz/style.css");
/*!
 * kick.less v0.2.2 by @vctrfrnndz (http://vctrfrnndz.com/projects/kick)
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 110%;
  font-weight: 200;
}
body.green {
  background-color: #A0ECC9;
}
body.orange {
  background-color: #F15F4B;
}
body.blue {
  background-color: #A0CEEC;
}
body.purple {
  background-color: #BC86C9;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
hr {
  opacity: 0.1;
  border-bottom: 0;
  border-width: 1px;
  border-color: black;
}
a {
  color: black;
  text-decoration: none;
  transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
}
p {
  line-height: 1.35em;
}
ul {
  list-style: square;
}
pre {
  margin: 0;
  padding: 1em;
  font-size: 0.9em;
}
pre code {
  font-family: 'Inconsolata', 'Menlo', monospace;
}
pre code * {
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
blockquote {
  font-size: 120%;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding-left: 1.2em;
}
img {
  vertical-align: middle;
}
.inner {
  padding: 0 24px;
  padding: 0 1.5rem;
}
.no-label .label {
  display: none;
}
.date {
  visibility: hidden;
}
.date.rendered {
  visibility: visible;
}
.all {
  min-width: 300px;
}
.head .cover {
  display: block;
  background: url('../images/avatar.jpg') no-repeat;
  background-position: 0 100%;
  background-size: 100%;
  width: 100%;
  height: 150px;
}
.head .hgroup {
  position: relative;
}
.head .logo .label {
  font-size: 1.2em;
  line-height: 0.9em;
  max-width: 200px;
  margin-top: 0.8em;
  display: block;
}
.head .go-back {
  display: none;
}
.head .toggle-menu {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 2.5em;
  display: inline-block;
  z-index: 600;
}
.head .toggle-menu.is-active {
  opacity: 0.4;
}
.menu {
  background-color: rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 600ms;
  -moz-transition: max-height 600ms;
  transition: max-height 600ms;
}
.menu.open {
  max-height: 800px;
}
.menu ul {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
.menu .item {
  padding: 0.6em 0;
}
.menu .item.current {
  font-weight: bold;
}
.menu .item a {
  font-size: 1.8em;
  text-decoration: none;
}
.menu .item a:hover {
  opacity: 0.6;
}
.content {
  padding-top: 1em;
  padding-bottom: 2em;
}
.content a {
  text-decoration: underline;
}
.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  text-decoration: none;
}
.content article {
  font-weight: 400;
  margin-bottom: 1.5em;
}
.content article h2 {
  font-size: 1.8em;
  line-height: 1.15em;
}
.content article + article hr {
  display: none;
}
.page-description {
  font-size: 1.2em;
  margin-bottom: 2em;
}
.date {
  display: block;
  opacity: 0.5;
  font-size: 0.95em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.colophon {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
}
.colophon a {
  font-weight: bold;
  text-decoration: none;
}
.colophon .photo {
  display: none;
}
.find-me ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  width: 100%;
  font-size: 1.5em;
}
.find-me ul li {
  display: inline-block;
  vertical-align: top;
}
.find-me ul li + li {
  margin-left: 0;
}
.find-me ul li {
  width: 31%;
  text-align: center;
  font-size: 1.3em;
}
.find-me ul li:first-child {
  text-align: left;
}
.find-me ul li:last-child {
  text-align: right;
}
.individual .logo .label {
  display: none;
}
.individual article h2 {
  padding-right: 1em;
}
.individual article {
  font-size: 1.2em;
}
.projects img {
  width: 100%;
}
.projects a {
  text-decoration: none;
}
.projects .project {
  padding: 1em;
  background: rgba(0, 0, 0, 0.1);
}
.projects .project:hover {
  background: rgba(0, 0, 0, 0.2);
}
.projects .project .title {
  text-align: left;
  font-size: 1.2em;
}
.projects .project p {
  padding: 0;
  margin: 0;
}
.grid {
  *zoom: 1;
  width: auto;
  margin-right: 0;
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
.grid .item {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding-right: 0;
}
.grid .item img {
  max-width: 100%;
}
.grid.grid-photos {
  *zoom: 1;
  width: auto;
  margin-right: 0;
}
.grid.grid-photos:before,
.grid.grid-photos:after {
  content: " ";
  display: table;
}
.grid.grid-photos:after {
  clear: both;
}
.grid.grid-photos .item {
  display: block;
  float: left;
  width: 100%;
  padding-right: 0;
}
.grid.grid-photos .item {
  text-align: center;
}
.grid.grid-photos .item img {
  width: 100%;
}
.skills {
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
}
.skills li {
  *zoom: 1;
}
.skills li:before,
.skills li:after {
  content: " ";
  display: table;
}
.skills li:after {
  clear: both;
}
.skills .name {
  float: left;
  width: 40%;
}
.skills .bar {
  float: left;
  width: 60%;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.skills .bar .lvl {
  height: 10px;
  background: black;
}
.highlight {
  background-color: #073642;
  color: #93a1a1;
}
.highlight .c {
  color: #586e75 !important;
  font-style: italic !important;
}
.highlight .cm {
  color: #586e75 !important;
  font-style: italic !important;
}
.highlight .cp {
  color: #586e75 !important;
  font-style: italic !important;
}
.highlight .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}
.highlight .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
.highlight .err {
  color: #dc322f !important;
  background: none !important;
}
.highlight .k {
  color: #cb4b16 !important;
}
.highlight .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
.highlight .p {
  color: #93a1a1 !important;
}
.highlight .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}
.highlight .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block;
}
.highlight .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}
.highlight .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #586e75 !important;
}
.highlight .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block;
}
.highlight .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
.highlight .gu {
  color: #6c71c4 !important;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
.highlight .kd {
  color: #268bd2 !important;
}
.highlight .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
.highlight .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
.highlight .kt {
  color: #2aa198 !important;
}
.highlight .n {
  color: #268bd2 !important;
}
.highlight .na {
  color: #268bd2 !important;
}
.highlight .nb {
  color: #859900 !important;
}
.highlight .nc {
  color: #d33682 !important;
}
.highlight .no {
  color: #b58900 !important;
}
.highlight .ni {
  color: #800080;
}
.highlight .nl {
  color: #859900 !important;
}
.highlight .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
.highlight .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
.highlight .nn {
  color: #b58900 !important;
}
.highlight .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
.highlight .nx {
  color: #b58900 !important;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #268bd2 !important;
}
.highlight .vi {
  color: #268bd2 !important;
}
.highlight .nv {
  color: #268bd2 !important;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf {
  color: #2aa198 !important;
}
.highlight .m {
  color: #2aa198 !important;
}
.highlight .mh {
  color: #2aa198 !important;
}
.highlight .mi {
  color: #2aa198 !important;
}
.highlight .mo {
  color: #009999;
}
.highlight .s {
  color: #2aa198 !important;
}
.highlight .sb {
  color: #dd1144;
}
.highlight .sc {
  color: #dd1144;
}
.highlight .sd {
  color: #2aa198 !important;
}
.highlight .s2 {
  color: #2aa198 !important;
}
.highlight .se {
  color: #dc322f !important;
}
.highlight .sh {
  color: #dd1144;
}
.highlight .si {
  color: #268bd2 !important;
}
.highlight .sx {
  color: #dd1144;
}
.highlight .sr {
  color: #2aa198 !important;
}
.highlight .s1 {
  color: #2aa198 !important;
}
.highlight .ss {
  color: #990073;
}
.highlight .il {
  color: #009999;
}
.highlight div .gd,
.highlight div .gd .x,
.highlight div .gi,
.highlight div .gi .x {
  display: inline-block;
  width: 100%;
}
.highlight {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 1em 0;
  white-space: nowrap;
}
.highlight::-webkit-scrollbar {
  height: 0.8em;
  background: rgba(255, 255, 255, 0.15);
}
.highlight::-webkit-scrollbar-thumb:horizontal {
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 0;
  border-radius: 0;
}
.highlight::-webkit-scrollbar {
  height: 0.8em;
  background: rgba(255, 255, 255, 0.15);
}
.highlight::-webkit-scrollbar-thumb:horizontal {
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 0;
  border-radius: 0;
}
.highlight code {
  overflow-x: auto;
  white-space: pre;
}
.highlight span {
  white-space: nowrap;
}
