@import url("../fonts/vctrfrnndz/style.css");
/*!
 * kick.less v0.2.2 by @vctrfrnndz (http://vctrfrnndz.com/projects/kick)
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 110%;
  font-weight: 200;
}
body.green {
  background-color: #A0ECC9;
}
body.orange {
  background-color: #F15F4B;
}
body.blue {
  background-color: #A0CEEC;
}
body.purple {
  background-color: #BC86C9;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
hr {
  opacity: 0.1;
  border-bottom: 0;
  border-width: 1px;
  border-color: black;
}
a {
  color: black;
  text-decoration: none;
  transition: opacity 300ms ease;
  -webkit-transition: opacity 300ms ease;
}
p {
  line-height: 1.35em;
}
p a {
  text-decoration: underline;
}
img {
  vertical-align: middle;
}
.inner {
  padding: 0 24px;
  padding: 0 1.5rem;
}
.no-label .label {
  display: none;
}
.date {
  visibility: hidden;
}
.date.rendered {
  visibility: visible;
}
.all {
  min-width: 300px;
}
.head .cover {
  background: url('../images/avatar.jpg') no-repeat;
  background-position: 0 100%;
  background-size: 100%;
  width: 100%;
  height: 150px;
}
.head .hgroup {
  position: relative;
}
.head .logo .label {
  font-size: 1.2em;
  line-height: 0.9em;
  max-width: 200px;
  margin-top: 0.8em;
  display: block;
}
.head .go-back {
  display: none;
}
.head .toggle-menu {
  position: absolute;
  top: -22px;
  right: 12px;
  font-size: 2.5em;
  display: inline-block;
}
.head .toggle-menu.is-active {
  opacity: 0.4;
}
.menu {
  background-color: rgba(0, 0, 0, 0.05);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 600ms ease-in-out;
  -moz-transition: max-height 600ms ease-in-out;
  transition: max-height 600ms ease-in-out;
}
.menu.open {
  max-height: 800px;
}
.menu ul {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
.menu .item {
  padding: 0.6em 0;
}
.menu .item.current {
  font-weight: bold;
}
.menu .item a {
  font-size: 1.8em;
  text-decoration: none;
}
.menu .item a:hover {
  opacity: 0.6;
}
.content {
  padding-top: 1em;
  padding-bottom: 1em;
}
.content .date {
  display: block;
  margin-bottom: 0.3em;
  opacity: 0.5;
  font-size: 0.95em;
  font-weight: 400;
}
.content article {
  font-weight: 400;
  margin-bottom: 1.5em;
}
.content article h2 {
  font-size: 1.8em;
  line-height: 1em;
}
.content article  + article hr {
  display: none;
}
.colophon {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgba(0, 0, 0, 0.05);
}
.colophon a {
  font-weight: bold;
  text-decoration: none;
}
.colophon .photo {
  display: none;
}
.find-me ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  width: 100%;
  font-size: 1.5em;
}
.find-me ul li {
  display: inline-block;
  vertical-align: top;
}
.find-me ul li  + li {
  margin-left: 0;
}
.find-me ul li {
  width: 31%;
  text-align: center;
  font-size: 1.3em;
}
.find-me ul li:first-child {
  text-align: left;
}
.find-me ul li:last-child {
  text-align: right;
}
