/*!
 * kick.less v0.2.2 by @vctrfrnndz (http://vctrfrnndz.com/projects/kick)
 */
.inner {
  padding: 0 5%;
}
.individual .logo .label {
  display: none;
}
.individual .go-back {
  display: block;
}
.individual .content {
  margin-top: 2em;
}
.individual article h2 {
  padding-right: 0;
}
.head h1 {
  margin: 0;
}
.head .cover {
  display: none;
}
.head .hgroup {
  position: relative;
}
.head .logo .label {
  padding: 0;
  margin-top: 0.5em;
  margin-left: 0.5em;
}
.head .go-back {
  margin: 12px 12px;
  float: left;
  font-size: 2em;
}
.head .toggle-menu {
  position: static;
  margin: 8px 12px;
  float: right;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu ul li {
  display: inline-block;
  vertical-align: top;
}
.menu ul li + li {
  margin-left: 8%;
}
.menu .item {
  padding: 1.2em 0;
}
.menu .item a {
  font-size: 1.4em;
}
.content {
  max-width: 900px;
  font-size: 110%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
.content .date,
.content article h2 {
  text-align: center;
}
.content .centered {
  text-align: center;
}
.content .float-l {
  float: left;
}
.content .float-r {
  float: right;
}
.colophon {
  padding: 0 5%;
  padding-top: 2em;
  padding-bottom: 2em;
}
.colophon a {
  font-weight: bold;
  text-decoration: none;
}
.colophon .photo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 80px;
  height: 80px;
  margin-bottom: 1em;
}
.colophon .author {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}
.find-me ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}
.find-me ul li {
  display: inline-block;
  vertical-align: top;
}
.find-me ul li + li {
  margin-left: 1em;
}
.find-me ul li {
  width: auto;
  text-align: left;
  font-size: 1em;
}
.find-me ul li:first-child {
  text-align: left;
}
.find-me ul li:last-child {
  text-align: left;
}
.grid.grid-photos {
  *zoom: 1;
  width: auto;
  margin-right: 0;
}
.grid.grid-photos:before,
.grid.grid-photos:after {
  content: " ";
  display: table;
}
.grid.grid-photos:after {
  clear: both;
}
.grid.grid-photos .item {
  display: block;
  float: left;
  width: 33.333333333333336%;
  padding-right: 0;
}
.grid.grid-photos .item {
  margin-bottom: 0;
}
